* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  width: 50vh;
  height: 50vh;
  border: 1px solid black;
}
.container div {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
}
.container div div {
  flex: 1 0 auto;
}

.hovered {
  background-color: black;
}
