* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
}
.container div {
  display: flex;
}
.container div div {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  border: 1px solid red;
}

.hovered {
  background-color: black;
}
